
*
    box-sizing: border-box
    margin: 0px
    padding: 0px
.global_container
    background-color: #121418
    color: white
    width: 100vw
    height: 100vh
    display: grid
    place-items: center
    span
        color: white
        font-size: 3rem
        font-family: sans-serif
