@use 'primecomponents/export'
@forward './presets/_fonts.sass'
@use './presets/_fonts' as *
@layer tailwind-base, primevue, tailwind-utilities
@tailwind base
@tailwind components
@tailwind utilities

*
    @include primary-font

body
    background-color: var(--backgroud-color)

:root
    --primary-color: #1f1f1f
    --backgroud-color: #f8fafc
    --gray-variant: #969090
    --white-text: white
    --inputs-height: 40px
    --radius: 10px
