@use 'primecomponents/export'
@forward './presets/_fonts.sass'
@use './presets/_fonts' as *
@layer tailwind-base, primevue, tailwind-utilities
@import 'primeicons/primeicons.css'
@tailwind base
@tailwind components
@tailwind utilities

*
    @include primary-font

body
    background-color: var(--backgroud-color)
    height: 100vh
    width: 100vw

.content-header-h3
    color: var(--primary-color)
    font-size: 1.3rem
    font-weight: 700

.solid-border
    border: 1px solid var(--global-gray-border)
:root
    --primary-color: #1f1f1f
    --background-gray-variant: #FBF9F9
    --backgroud-color: #FFFFFF
    --gray-variant: #969090
    --global-gray-border: #DDDDDD
    --white-text: white
    --inputs-height: 40px
    --radius: 10px
