@forward '../presets/fonts'
@use '../presets/_fonts' as mixins

.p-button
    background-color: var(--primary-color)
    border: 0px
    height: var(--inputs-height)
    color: var(--white-text)
    border-radius: var(--radius)
    @include mixins.primary-font

.p-button::focus
    border: 0px

.p-button:focus-visible
    outline: none
